page-lugares-descripcion {
    .caption{
        width: 100%;
        height: 38%;
        background: black;
        background-size: cover;
        background-position: center center;
    }
    .expand-caption{
        height: 30px !important;
        width: 30px !important;
        position: absolute;
        right: 5px;
        margin-top: -33px;
        cursor: pointer;
    }
    
    button[outline]{
        border-radius: 4px !important;
    }

    //swipe slices
    .indicatorSegment  {
        transition:  0.3s all;
        transform-origin: top 0 left 0;
        height: 1px;
	    position: relative;
	    top: -2px;
        background-color: color($colors, letra) !important;
    }
    .Tabs ion-segment-button {
    	border:none !important;
        color:color($colors, secondary) !important;
        text-transform: initial !important;
        opacity: 1 !important;
    }
    .segment-button{
        font-weight: normal !important;
        font-size: 1.3rem !important;
    }
    .Tabs ion-segment-button.activeTab {
        color:color($colors, letra) !important;
        font-weight: bold !important;
        font-size: 1.5rem !important;
    }
    .Tabs {
    	border-bottom: solid 1px  color($colors,bg) !important;
    }

    #sticky{
        top: 0;
        position: sticky;
        background-color: #021515;
        z-index: 999;
    }

    ion-slides{
        height: auto;
        transition-duration: 0.4s;
        overflow: scroll;
        margin-bottom: 50px !important;
    }

    #descripcion{
        color: #b9b9b9;
        p{
            text-align: justify;
        }
    }
    #fotos{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    ion-list{
        ion-item{
            background-color: transparent !important;
            color: color($colors, letra) !important;
            p{
                color: color($colors, letra) !important;
            }
        }
    }
    .empty{
        p{
            color: color($colors, letra);
            font-size: 110%;
            text-align: center;
            padding: 0% 20% 0% 20%;
        }
    }
}
