<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Nicaragua Verde | Log in</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- favicon -->
  <link rel="icon"  href="{{url_for('static', filename='dist/img/NV-logo.png')}}">
  <!-- font-awesome -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome-free/css/all.min.css' )}}">
  <!-- boostrap icheck -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/icheck-bootstrap/icheck-bootstrap.min.css' )}}">
  <!-- app theme -->
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/adminlte.css' )}}">
  <!-- Toastr -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/toastr/toastr.min.css' )}}">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

  <style>
    .bg{
      background-image: url("{{ url_for('static', filename='dist/img/login-bg.jpg' )}}");
      background-size: cover;
      background-position: center center;
    }
  </style>
</head>
<body class="hold-transition login-page bg">
<div class="login-box">
  <div class="login-logo">
    <img src="{{ url_for('static', filename='dist/img/NV-logo.svg' )}}" width="25%" height="25%">
    <p style="color: #7CC600; font-weight: 400;">Nicaragua Verde</p>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Inicia sesión para comenzar a explorar</p>

      <form id="form" >
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Usuario" required id="user">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" id="password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8"></div>
          <div class="col-4">
            <button type="submit" class="btn btn-success btn-block">Entrar</button>
          </div>
        </div>
      </form>


    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js' )}}"></script>
<script src="{{ url_for('static', filename='plugins/toastr/toastr.min.js' )}}"></script>
<script src="{{ url_for('static', filename='admin-js/auth1.js' )}}"></script>
<script src="{{ url_for('static', filename='admin-js/auth2.js' )}}"></script>
<script src="{{ url_for('static', filename='admin-js/login-form.js' )}}"></script>

</body>
</html>
